<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emp" class="com.spring.manualdependencyinjection.Employee">
    		<property name="eid" value="101"></property>
    		<property name="name" value="HemanthKumarKonakalla"></property>
    		<property name="salary" value="95000"></property>
    		<property name="dept" value="SoftwareDevelopment"></property>
    		<property name="address" ref="addr"></property>
    
    </bean>
	
	<bean id="addr" class="com.spring.manualdependencyinjection.Address">
		<property name="streetName" value="AshokNagar"></property>
		<property name="landMark" value="Near TTD Kalyana Mandapam"></property>
		<property name="pincode" value="534312"></property>
	
	</bean>
</beans>